// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Nunito");
// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Import Vars
@import "vars";

// Import Mixins
@import "mixins/mixins";

//DASHBOARD
@import "layout/dashboard";
@import "layout/timetable";
// Variables
@import "variables";

// LAYOUT
@import "layout/header";
@import "layout/hero";
@import "layout/projects";

// Blocks
@import "blocks/festival-overview";

/* ------- BODY ------- */

/* ------- PARAGRAPH ------- */
p {
    margin-bottom: 3rem;

    &:last-of-type {
        margin-bottom: 0;
    }
}

img {
    height: auto;
}

//SECTION FILTER
.filter {
    .filter--blocks {
        display: flex;
        margin-top: -5rem;
        position: relative;
        z-index: 3;

        .filter--block {
            width: calc(100% / 3);
            border-right: 1px solid #f2f2f2;
            transition: 0.38s all;
            background-color: #fff;
            border-bottom: 4px solid #e7e7e7;
            padding: 2rem 4rem;
            position: relative;
            cursor: pointer;

            label {
                font-size: 2rem;
                line-height: 1;
                font-weight: 700;
            }

            &:first-of-type {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            &:last-of-type {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-right: none;
            }
        }
    }

    .dropdown__content {
        background: #fff;
        top: calc(100% - 20px);
        padding: 2rem 4rem;
        border-right: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
        transition: 0.28s all;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        left: 0;
        cursor: pointer;

        .dropdown__item {
            border-top: 1px solid #e7e7e7;
            padding: 1rem 0;
            display: flex;
            align-items: center;
            cursor: pointer;

            span {
                font-weight: 500;
                font-size: 1.4rem;
            }
        }
    }

    .is-open {
        .dropdown__content {
            opacity: 1;
            pointer-events: initial;
            z-index: -1;
        }
    }
}
