/*----------------------------------------------------------------------------*\
    HEADER
\*----------------------------------------------------------------------------*/

/*  Variables
\*----------------------------------------------------------------------------*/

// height for header counts for header, col-xs-12, a.main-a
$header-height: 10rem;
$topbar-height: 3.8rem;
// mobile header height
$header-mobile-height: 6.8rem;

/*  Component
\*----------------------------------------------------------------------------*/
