//background:
.hero {
    //container
    .container {


        @include media-query(md) {
            max-width: none;
        }
    }

    //col
    .column {
        padding: 0;
        position: relative;
        //fade
        &:before {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            right: 0;
            height: 45%;
            opacity: 40%;
            z-index: 2;
            background: -webkit-linear-gradient(top, #232729, 100%);
            background: -moz-linear-gradient(top, #232729, 100%);
            background: linear-gradient(to top, #232729, 100%);
            @include media-query(xl) {
                height: 50%;
                opacity: 50%;
            }


        }


        @include media-query(xl) {
            overflow: hidden;
        }


        //img hero
        img {

            width: 100%;
            height: auto;
            float: left;

            @include media-query(xl) {
                object-fit: cover;
                max-height: 700px;

            }

        }


    }

    //text-block
    .text-block {
        position: absolute;
        bottom: 2rem;
        width: 100%;
        color: #fff;
        padding: 0 3rem;
        z-index: 3;
        text-align: center;
        @include media-query(xl) {
            padding: 3rem 3rem 3rem 8rem;
            bottom: 15rem;
        }




        //title
        h1 {
            font-size: 2.4rem;
            line-height: 1;
            margin: 0;
            color: #ffffff;
            @include media-query(xl) {
                font-size: 3.6rem;
                line-height: 4.3rem;
            }
        }

        //text
        p {
            color: #ffffff;
            letter-spacing: 0;
            font-size: 1.5rem;
            @include media-query(md) {
                height: 10rem;
            }
            @include media-query(xl) {
                font-size: 2.1rem;
                line-height: 3.6rem;
            }
        }
    }

}
